---
- name: Install logrotate
  ansible.builtin.apt:
    name: logrotate
    state: present
    update_cache: true

- name: Create logrotate config file
  ansible.builtin.template:
    src: remnanode.j2
    dest: /etc/logrotate.d/remnanode
    owner: root
    group: root
    mode: '0644'
