x-common: &common
  restart: always
  network_mode: host
  ulimits:
    nofile:
      soft: 1048576
      hard: 1048576

x-env: &env
  env_file: .env

x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 100m
      max-file: 5

services:
  remnanode:
    image: remnawave/node:{{ remnanode_node_tag }}
    container_name: remnanode
    hostname: remnanode
    <<: [*common, *env, *logging]
{% if remnanode_logrotate_enable %}
    volumes:
      - {{ remnanode_log_dir_path }}:/var/log/remnanode
{% endif %}

{% if remnanode_caddy_enable %}
  remnanode-caddy:
    image: {{ remnanode_caddy_image }}:{{ remnanode_caddy_tag }}
    container_name: remnanode-caddy
    hostname: remnanode-caddy
    <<: [*common, *env, *logging]
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - remnanode-caddy-data:/data
{% endif %}

{{ remnanode_additional_services | ansible.builtin.indent(2, true) }}

{% if remnanode_caddy_enable %}
volumes:
  remnanode-caddy-data:
    name: remnanode-caddy-data
{% endif %}
