#!/bin/bash
set -euo pipefail

download_file() {
  local url="$1"
  local dest="$2"

  local tmp
  tmp=$(mktemp)

  curl -fsSL "${url}" -o "${tmp}"
  mv "${tmp}" "${dest}"
  chmod 0644 "${dest}"
}

{% for geodata in remnanode_geodata_files %}
download_file \
  "{{ geodata.url }}" \
  "{{ remnanode_geodata_path }}/{{ geodata.name }}"

{% endfor %}
