x-common: &common
  restart: always
  network_mode: host
  ulimits:
    nofile:
      soft: 1048576
      hard: 1048576

x-env: &env
  env_file: .env

x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 100m
      max-file: 5

services:
  remnawave-caddy:
    image: "strohsnow/caddy:${CADDY_TAG}"
    container_name: remnawave-caddy
    hostname: remnawave-caddy
    <<: [*common, *env, *logging]
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - remnawave-caddy-data:/data

volumes:
  remnawave-caddy-data:
