x-common: &common
  restart: always
  networks:
    - remnawave-network
  ulimits:
    nofile:
      soft: 1048576
      hard: 1048576

x-env: &env
  env_file: .env

x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 100m
      max-file: 5

services:
  remnawave-caddy:
    image: "strohsnow/caddy:${CADDY_TAG}"
    container_name: remnawave-caddy
    hostname: remnawave-caddy
    <<: [*common, *env, *logging]
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - remnawave-caddy-data:/data

networks:
  remnawave-network:
    external: true

volumes:
  remnawave-caddy-data:
