x-common: &common
  restart: always
  networks:
    - remnawave-network
  ulimits:
    nofile:
      soft: 1048576
      hard: 1048576

x-env: &env
  env_file: .env

x-logging: &logging
  logging:
    driver: json-file
    options:
      max-size: 100m
      max-file: 5

services:
  remnawave:
    image: remnawave/backend:{{ remnawave_backend_tag }}
    container_name: remnawave
    hostname: remnawave
    <<: [*common, *env, *logging]
    ports:
      - 127.0.0.1:${METRICS_PORT}:${METRICS_PORT}
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:$${METRICS_PORT}/health']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      {{ remnawave_postgres_host }}:
        condition: service_healthy
      {{ remnawave_redis_host }}:
        condition: service_healthy

  {{ remnawave_postgres_host }}:
    image: postgres:17.6
    container_name: {{ remnawave_postgres_host }}
    hostname: {{ remnawave_postgres_host }}
    <<: [*common, *env, *logging]
    environment:
      TZ: UTC
    volumes:
      - {{ remnawave_postgres_host }}-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 3s
      timeout: 10s
      retries: 3

  {{ remnawave_redis_host }}:
    image: valkey/valkey:8.1-alpine
    container_name: {{ remnawave_redis_host }}
    hostname: {{ remnawave_redis_host }}
    <<: [*common, *env, *logging]
    command: >
      valkey-server
      --port ${REDIS_PORT}
      --save ""
      --appendonly no
      --maxmemory-policy noeviction
      --loglevel warning
    healthcheck:
      test: ['CMD', 'valkey-cli', 'ping']
      interval: 3s
      timeout: 10s
      retries: 3

{{ remnawave_additional_services | ansible.builtin.indent(2, true) }}

networks:
  remnawave-network:
    name: remnawave-network

volumes:
  {{ remnawave_postgres_host }}-data:
    name: {{ remnawave_postgres_host }}-data
